{% extends 'utils/nav.html' %}

{% block title %}
Edit My Username & Password
{% endblock %}


{% block body %}

{% from "macros/_formhelpers.html" import render_field %}
{% if current_user.is_authenticated %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="{{ url_for('static', filename='favicon_btms/btms_full.png') }}" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">{{ current_user.role }}</span>
                    <h5 class="mt-2 mb-0">{{ current_user.first_name }} {{ current_user.last_name }}</h5> <span>{{ current_user.username }}</span>
                    <div class="px-4 mt-1">
                        <form method="post">
                            <div class="row">
                                <div class="col">
                                    <span>Username</span>
                                    <dl>{{ render_field(form.username, class="form-control", placeholder=data[4], autofocus="") }}</dl>
                                    <span>Password</span>
                                    <dl>{{ render_field(form.password, class="form-control", placeholder=data[5], autofocus="") }}</dl>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-outline-primary px-4">Update User</button> <button class="btn btn-primary px-4 ms-3" onclick="goBack()">Cancel</button>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}