{% extends 'base.html' %}

{% block title %}Signin{% endblock %}

{% block resources %}
<link href="{{ url_for('static', filename='bootstrap-custom/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% from "macros/_formhelpers.html" import render_field %}
{% block nav %}
<body class="text-center">
    <form class="form-signin" method="post">
      <img class="mb-4" src="{{ url_for('static', filename='favicon_btms/btms_full.png') }}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <label for="inputPassword" class="sr-only">Password</label>

      <dl>{{ render_field(form.username, id="inputUsername", class="form-control", placeholder="Username", required="", autofocus="") }}
          {{ render_field(form.password, id="inputPassword", class="form-control", placeholder="Password", required="", autofocus="") }}</dl>
        <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in »</button>
      <br>
      <p><a class="btn btn-lg btn-secondary btn-block" href="/" role="button">« Return To Homepage</a></p>
  </form>
</body>
{% endblock %}