{% extends 'utils/nav.html' %}

{% block title %}
The Black Tie Management System
{% endblock %}

{% block home_tab_active %}
active
{% endblock %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">Welcome back!</h2>
        <p>The Black Tie Management System is an all-in-one web application with
            an end-to-end solution tailored for a clothing store’s unique needs. It offers customer insights, 
            profile and sizing infromation, product availability, and other metrics.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('products.products') }}" role="button">Products Inventory »</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Create Customer Profile</h2>
            <p>The Black Tie Management System is an all-in-one web application with
                an end-to-end solution tailored for a clothing store’s unique needs.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('customers.new_customer') }}" role="button">Create Profile »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lookup Customer Profile</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="{{ url_for('customers.lookup_customer') }}" role="button">Lookup Profile »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Product Catalog</h2>
            <p>View the product catalog.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('products.products') }}" role="button">View Catalog »</a></p>
        </div>
    </div>

    <hr>

</div> <!-- /container -->



{% endblock %}